.DTFC_Cloned tr.even {
    background-color: white;
    margin-bottom: 0;
}

.DTFC_LeftHeadWrapper table,
.DTFC_RightHeadWrapper table {
    border-bottom: none !important;
    margin-bottom: 0 !important;
    background-color: white;
}

.DTFC_LeftBodyWrapper table,
.DTFC_RightBodyWrapper table {
    border-top: none;
    margin: 0 !important;
}


.DTFC_LeftFootWrapper table,
.DTFC_RightFootWrapper table {
    border-top: none;
    margin-top: 0 !important;
    background-color: white;
}

